name: M4 CD Deployment

on:
  workflow_run:
    workflows: ["M3 CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Latest Image
        run: docker pull yogesh1233/cats-dogs-api:latest

      - name: Deploy using Docker Compose
        run: docker compose up -d

      - name: Show Running Containers
        run: docker ps

      - name: Wait for API to Become Ready
        run: |
          echo "Waiting for API to start..."
          for i in {1..15}; do
            if curl -s http://localhost:8000/health; then
              echo "API is up!"
              break
            fi
            echo "Still waiting..."
            sleep 5
          done

      - name: Health Check
        run: curl -f http://localhost:8000/health

      - name: Predict Endpoint Test
        run: |
          curl -X POST http://localhost:8000/predict \
            -F "file=@tests/sample.jpg"

      - name: Show Container Logs (if failure)
        if: failure()
        run: docker compose logs

      - name: Shutdown Containers
        if: always()
        run: docker compose down
